<%- include("headertodo"); -%>
<h2>know more about us!! </h2>
 if you find this app beautiful and want to make
 apps by yourself connect with us!
 <ul>
     <li> contact us on 9993334443 </li>
    <li> our email id is anuskamitra2001</li>
 </ul>
 <%- include("footertodo"); -%>
